<h1>Settings</h1>
<table>
    <tr>
        <td>
            <label>Date/time format:</label>
        </td>
        <td>
            <select id="selectDateFormates"
                    ng-model="settings.DateFormateId"
                    ng-options="x.DateFormatID as (x.DateTimeFormate) for x in dateFormates"
                    ng-disabled="loading">
                <option></option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Сolor of alt rows in the grid:</label>
        </td>
        <td>
            <select id="selectAltRowsColor"
                    ng-model="settings.AltRowsColor"
                    ng-options="x.Color as (x.Name) for x in colorNames"
                    ng-disabled="loading">
                <option></option>
            </select>
        </td>
    </tr>

    <tr>
        <td>
            <label>Page size:</label>
        </td>
        <td>
            <input type="number" min="{{minPageSize}}" max="{{maxPageSize}}" ng-model="settings.PageSize" ng-disabled="loading"/>
        </td>
    </tr>

    <tr>
        <td></td>

        <td align="right">
            <button class="btn btn-info btn-lg next option" ng-click="SaveSetting()" ng-disabled="loading">Save settings</button>
        </td>
    </tr>
</table>